@font-face {
    font-family: "Helvetica", sans-serif;
    src: url("./assets/Fonts/Helvetica.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Scrollbar  */
    /* for left section scrollbar */
    .left-section::-webkit-scrollbar {
        width: 10px;
        scrollbar-width: thin;
        scrollbar-color: #bcc0c4 transparent;
    }
    .left-section:hover {
        scrollbar-color: #bcc0c4 #e6e7eb;
    }
    .left-section::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 6px;
    }
    .left-section:hover::-webkit-scrollbar-thumb {
        background-color: #bcc0c4;
    }
    .left-section::-webkit-scrollbar-track:hover {
        background: #e6e7eb;
    }
    /* right section scrollbar */
    .right-section::-webkit-scrollbar {
        width: 10px;
        scrollbar-width: thin;
        scrollbar-color: #bcc0c4 transparent;
    }
    .right-section:hover {
        scrollbar-color: #bcc0c4 #e6e7eb;
    }
    .right-section::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 6px;
    }
    .right-section:hover::-webkit-scrollbar-thumb {
        background-color: #bcc0c4;
    }
    .right-section::-webkit-scrollbar-track:hover {
        background: #e6e7eb;
    }
    /* story section */
    .story-section::-webkit-scrollbar {
        width: 10px;
        scrollbar-width: thin;
        scrollbar-color: #bcc0c4 transparent;
    }
    .story-section:hover {
        scrollbar-color: #bcc0c4 #e6e7eb;
    }
    .story-section::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 6px;
    }
    .story-section:hover::-webkit-scrollbar-thumb {
        background-color: #bcc0c4;
    }
    .story-section::-webkit-scrollbar-track:hover {
        background: #e6e7eb;
    }

    body {
        font-family: "Helvetica";
        background: #f0f2f5;
    }
}

@layer components {
    .form-input-field {
        @apply text-[17px] py-[10px] px-[16px] input-border rounded-md outline-none;
    }
}
@layer utilities {
    .face-shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    .input-border {
        border: 1px solid #dddfe2;
    }
    .modal-rgba-background {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .selcetor-translate {
        transform: translate(0px, -56px);
    }
    .empty-input {
        border: 2px solid rgb(223, 22, 22);
    }
}
